<h1>Users#show</h1>
<%= @user.name %>
<p>Name: <%= @user.name %></p>
<p>Height: <%= @user.height %></p>
<p>Mood: <%= @user.mood %></p>
<p>Nausea: <%= @user.nausea %></p>
<p>Tickets: <%= @user.tickets %></p>
<p>Admin: <%= @user.admin %></p>
